
@media (prefers-reduced-motion: no-preference) {
  }
  /*cabecalho*/
body,ul,li,p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: arial;
  font-size: 1.2rem;
}

a{
  text-decoration: none;
  color: white;
}
.log img{
  max-width: 200px;
}
img{
  max-width: 100%;
  display: block;
}



.header {
  background: #000000;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 20px;
  align-items: center;
  flex-wrap: wrap;
 }
.menu{
  display: flex;
 
}

.menu li{ 
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}
.cabeca{
  width: 1200px;
  height: 400px;
  padding: 20px ;
  background-color: black;
}
 /*descrição*/  

.conteudo{ 
  background-color: black;
  color: #fff;
  text-align: justify;
  padding: 10px 80px 50px 80px;
  text-indent: 20px;
  line-height: 25px
}
h1{
  text-align: center;
}

/* sessao musicos flexbox*/
h2{
  text-align: center;
  margin-top: 100px;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile > div{
  flex: 1 1 200px;
  margin: 10px;
  border-radius: 5px;
}



/*downloads*/

.downloads{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  

}
.downloads > div{
  flex: 1 1 200px;
  margin: 10px;
  text-align: center;
  margin-left: 50px;
  
}

.downloads{
 background-color: #000000; 
 text-align: center;
}

/* agenda*/
.agenda{
  text-align: center;
}
.show, {
  color: #000000;
  align-items: center;
}
/*COntato*/
.content{
  display: flex;
  justify-content: center;
  background-color: #cdcdcd;
  padding-bottom: 30px;
}
.contato{
  width: 100%;
  max-width: 500px;
}
.form{
  display: flex;
  flex-direction: column;
  
}
.field{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0 0 30px 0;
}
textarea{
  height: 150px;
  padding: 0 0 30px 0;
}

/*Footer*/
.pe{
  background-color: black;
  color: #fff;
  padding: 30px 10px 30px 10px;
  text-align: center;
}